body {
	font-family:sans-serif;
	margin:0;
	padding:0;
	background-color:#f08700;
}

h1, h2, h3, h4 {
	margin:0;
	padding:1rem;
}

h1 {
	font-family:"Summer Storm";
	font-size:2.5rem;
	color:#f08700;
}

h2 {
	font-family:"Summer Storm";
	font-size:1.75rem;
	color:#efca08;
}

h3 {
	font-family:Gravity;
	font-weight:bold;
	font-size:1.5rem;
	color:#aaaaaa;
}

h4 {
	font-family:Gravity;
	font-weight:bold;
	font-size:1.25rem;
}

img {
	max-width:100%;
}

nav {
	margin:2rem 0 2rem 0;
}

section code {
	background-color:#eeeeee;
	box-decoration-break:clone;
}

p {
	margin:0;
	padding:0 1rem 1rem 1rem;
	font-family:Gravity;
}

form p {
	margin:0;
	padding:0.5rem 1rem;
}

a {
	text-decoration:none;
	color:#f08700;
	transition:color 0.5s;
	word-wrap:break-word;
}
a:hover, a:focus {
	color:#efca08;
}

ul, ol {
	margin-top:0;
	font-family:Gravity;
}
li {
	padding-top:0.25rem;
}

.main-nav {
	display:flex;
	width:100%;
	margin:0;
	padding:0;
}

.nav-left {
	background-color:#f08700;
	text-align:left;
}

.nav-middle {
	background-color:#f08700;
	text-align:center;
}

.nav-right {
	background-color:#f08700;
	text-align:right;
}

.header-image-main, .header-image-sub {
	margin:0px;
	padding:0px;
	background-image: url('../images/template-image.jpg');
	background-color:black;
	width:auto;
}

.button {
	display:inline-block;
	padding:0.5rem;
	margin:0;
	font-family:"Summer Storm";
	font-size:1.25rem;
	text-decoration:none;
	color:white;
	background-color:#f08700;
}

.form-button {
	padding:0.5rem;
	font-family:Gravity;
	font-weight:bold;
	color:white;
	background-color:#f08700;
	border:none;
	transition:color 0.5s;
}
.form-button:hover, .form-button:focus {
	color:#efca08;
}

.form-text {
	padding:0.5rem;
	font-family:Gravity;
}

.field {
	float:left;
}
.field input {
	margin:0 0 0.25rem 1rem;
}

.product-listing {
	border:none;
}

.buy-button {
	margin:0.5rem 1rem;
}

#cart-button:hover, #cart-button:focus {
	color:#efca08;
	cursor:pointer;
}
#cart-box {
	display:none; /* hidden at first */
	float:right;
	background-color:white;
}
.cart-listing {
	display:block;
}
.cart-listing p {
	padding:0.5rem 1rem;
}
.cart-col-left {
	display:inline-block;
}
.cart-col-right {
	float:right;
}
.cart-checkout, .filter-apply {
	display:block;
	font-size:1rem;
	text-align:center;
	width:100%;
}

.checkout-grid-left {
	width:66.666%;
}

.multi-listing-text a, .multi-listing-text p {
	display:block;
	font-size:1.25rem;
	font-weight:bold;
	padding:0.25rem 1rem 0.5rem 1rem;
}

.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.corner-button-left {
	padding:1rem 1rem 2rem 1rem;
	float:left;
}
.corner-button-right {
	padding:1rem 1rem 2rem 1rem;
	float:right;
}

.single-button-centered {
	text-align:center;
	margin-bottom:2rem;
}

.home-banner {
	position:relative;
}
.banner-button {
	position:absolute;
	left:50%;
	transform:translate(-50%,0);
	bottom:2rem;
}

.news-listing {
	border:2px solid #eeeeee;
}

.page-break {
	display:block;
	padding-top:0.5rem;
	border-top:1px solid #aaaaaa;
}

.background {
	margin:0;
	padding:0;
	background-color:#eeeeee;
}

.authorDateBox {
	padding:0rem;
}

.content {
	margin-bottom:2rem;
	background-color:white;
}

.article-img {
	padding-bottom:1rem;
}

.about-img {
	width:75%;
	margin-left:1rem;
}

.bottom-section {
	padding:2rem 0;
	width:100%;
	text-align:center;
	color:white;
	background-color:#f08700;
}

.bottom-section a {
	color:white;
	transition:color 0.5s;
}
.bottom-section a:hover, .bottom-section a:focus {
	color:#efca08;
}

.social-icon {
	display:inline-block;
	padding:0.25rem;
}

.styleguide-section {
	padding:1rem 0;
	border-bottom:1px solid #aaaaaa;
}

.swatch {
	display:inline-block;
	padding:1rem;
	width:8rem;
	text-align:center;
	font-weight:bold;
}
.swatch1 {
	background-color:#f08700;
}
.swatch2 {
	background-color:#efca08;
}
.swatch3 {
	background-color:#aaaaaa;
}
.swatch4 {
	background-color:#eeeeee;
}

@media (min-width: 48.75em) {
	.button {
		padding:0.75rem;
	}
	.nav-left {
		width:20%;
	}
	.nav-middle {
		width:60%;
	}
	.nav-right {
		width:20%;
	}
}

@media (min-width: 73em) {
	.button {
		padding:0.75rem;
	}
	.cart {
		position:fixed;
		right:0;
		width:15%;
	}
	.filters {
		position:fixed;
		left:0;
		width:15%;
	}
	.product-listing {
		border:1rem solid #eeeeee;
	}
}